<%#
 Copyright 2017-2019 Xingwang Liao <kuoruan@gmail.com>
 Licensed to the public under the MIT License.
-%>

<%+cbi/valueheader%>
		<input data-update="change" type="text" class="cbi-input-text"<%=
			attr("id", cbid) ..
			attr("name", cbid) ..
			attr("value", self:cfgvalue(section) or self.default) ..
			ifattr(self.size, "size") ..
			ifattr(self.placeholder, "placeholder") ..
			ifattr(self.readonly, "readonly") ..
			ifattr(self.maxlength, "maxlength") ..
			ifattr(self.datatype, "data-type", self.datatype) ..
			ifattr(self.onmouseover, "onmouseover")
		%> />
		<% if self.description and #self.description > 0 then -%>
			<div class="cbi-value-description">
				<input class="cbi-button cbi-input-<%=self.inputstyle or "button" %>" type="button"<%=
					attr("id", cbid) ..
					attr("name", cbid) ..
					attr("value", self.description) ..
					ifattr(self.btnclick, "onclick", self.btnclick)
				%> />
			</div>
		<%- end %>
	<%- if self.title and #self.title > 0 then -%>
	</div>
	<%- end -%>
</div>
